<ul>
  <% $mark.each { |bookmark| %>
  <%# <%  bookmark.split(": ").each do |title, url|%> %>
  <li><a href="<%=bookmark.url%>"><%=bookmark.title%></a></li>
        <%# <%end%> %>
  <% } %>
</ul>
<form action='/new_bookmark' method='get'>
  <input type='submit' value='add_bookmark'>
</form>
